.nav-list{
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid #ae71b1;
}
.list{
    list-style: none;
    text-decoration: none;
   margin: 20px;
   color: #fefefe;
  cursor: pointer;
}
.list:hover{
    color: #ff66c4;
    cursor: pointer;
}