*{
  margin: 0;
  padding: 0;
}
.App{
  background-image: url('./Images/WhatsApp\ Image\ 2024-12-05\ at\ 10.45.21\ PM.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
